table {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0.5rem;
}

td,
th {
  border: 2px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #e6ecee;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3d79c7;
  color: white;
}

.btn {
  display: inline-block;
  background: rgb(109, 14, 138);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}
